@import 'base/_variables';
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.title {
    color: #0D0D0D;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
}
@import 'blocks/_promo';
@import 'blocks/_header';
@import 'blocks/_buttons';
@import 'blocks/advantages';